<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mentanina" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

  <body>

    <!--Small top bar-->
    <div class="top-bar" data-responsive-toggle="widemenu" data-hide-for="medium" style="background-color: rgb(51,37,50)">
      <div style="text-align:center">
        <ul class="vertical menu" data-accordion-menu>
          <li>
            <a href="#" style="font-size:30px;color:white"><i class="fa fa-bars"></i></a>
            <ul class="menu vertical" style="font-size: 14px;color:white"><br>
              <li><a href="/welcome/index" style="color:white">Mentanina</a></li><br>
              <li><a href="#" style="color:white">Item 1B</a></li><br>
            </ul>
          </li>
      </ul>
      </div>
    </div>
    
    <!-- Large top bar -->
    <div class="top-bar" id="widemenu">
    <ul class="vertical menu" data-accordion-menu>
      <div class="top-bar-left">
        <ul class="menu">
          <li><i class="fa fa-link fa-3x"></i></li>
          <li><a href="/welcome/index">Mentanina</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Sobre</a></li>
          <li><a data-open="emailform">Inscreva-se</a></li>
          </ul>
      </div>
      </ul>
    </div>

    <div class="reveal" id="emailform" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h1>se inscrevaaa</h1>
    </div>

    <!--Renders the view-->
    <%= yield %>

    <!--Footer callout-->
    <div class="callout large primary" style="color:white" id="callout-footer">
      <div class="row">
        <div class="small-12 small-centered columns">
          <table class="stack">
            <tbody>
              <tr>
                <td>
                  <ul class="menu">
                    <li><i class="fa fa-link fa-2x">&nbsp;</i></li>
                    <li>Mentanina</li>
                  </ul>
                </td>
                <td>
                  Email: contatomentanina@yahoo.com.br
                </td>
                <td>
                  Telefone: 51 - 8145 3551
                </td>
                <td>
                  <a href="facebook.com/pagina"><i class="fa fa-facebook-square fa-3x"></i></a>&nbsp;
                  <a href="https://github.com/rrrichter/mentanina"><i class="fa fa-github-square fa-3x"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  feito em Ruby on Rails e Foundation.
                </td>
                <td>
                  <a href="https://github.com/rrrichter/mentanina/blob/master/LICENSE.txt">A Mentanina utiliza a licensa do MIT</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Smooth scrolling script. Add smooth class to link to apply it-->
    <script>
    $(function() {
      $('a[href*="#"].smooth:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 500);
            return false;
          }
        }
      });
    });
    </script>

  </body>
</html>
