<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mentanina" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

  <body>

    <!--Background-->
    <div data-interchange="[/images/bg_small.html, small], [/images/bg_small.html, medium], [/videos/bg_large.html, large]"></div>

    <div class="reveal" id="emailform" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h1>se inscrevaaa</h1>
    </div>


    <!--Top Bar-->
    <div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Foundation</span>
      </div>
      <div class="title-bar-right">
        <span class="title-bar-title">Login</span>
        <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
      </div>
    </div>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <li><a href="left_item_1">Left item 1</a></li>
        <li><a href="left_item_2">Left item 2</a></li>
        <li><a href="left_item_3">Left item 3</a></li>
      </ul>
    </div>

    <!-- off-canvas right menu -->
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
      <ul class="vertical dropdown menu" data-dropdown-menu>
        <li><a href="right_item_1">Right item 1</a></li>
        <li><a href="right_item_2">Right item 2</a></li>
        <li><a href="right_item_3">Right item 3</a></li>
      </ul>
    </div>

    <!-- "wider" top-bar menu for 'medium' and up -->
    <div class="top-bar" id="widemenu">
      <div class="top-bar-title">~icone do saiti~</div>
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= link_to 'Mentanina'%></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Sobre</a></li>
            <li><a data-open="emailform">Inscreva-se</a></li>
          </ul>
      </div>
    </div>


    <!-- original content goes in this container -->
    <div class="off-canvas-content" data-off-canvas-content style="background-color: transparent">
          <!--Yield renders the view of the page-->
          <%= yield %>
        </div>

        


        <!--Footer callout-->
        <div class="callout primary" id="callout-footer">
        <br>
        </div>
        <div class="callout large success" style="height: 40%" id="callout-footer">
          <div style="position:absolute;bottom:0">
          feito por mim
          </div>
        </div>

        <!--Smooth scrolling script. Add smooth class to link to apply it-->
        <script>
        $(function() {
          $('a[href*="#"].smooth:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
        </script>

      </div>
    </div>

  </body>
</html>
